body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.7s ease-in-out;
}

#formContainer {
    margin: 0 auto;
    width: 30%;
    padding: 1rem;
}

button:focus {
    outline: none;
}

label {
    font-size: 14pt;
}
.label-content {
    display: flex;
    flex-flow: row wrap;
    margin: 0.5rem 0;
}

.input {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    height: 0.7rem;
    border: none;
    background-color: white;
    border-bottom: 2px solid teal;
    font-size: 18pt;
}

.input:focus {
    outline: none;
}

.input-content {
    margin: 0.3rem auto 1rem 2.6rem;
}

.submit {
    width: 8rem;
    border-radius: 4pt;
    border: 1px solid #ddd;
    padding: 0.6rem;
    color: white;
    margin: 0 auto;
    background-color: teal;
    text-transform: uppercase;
    margin-right: 0.6rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.submit:hover {
    background-color: rebeccapurple;
}
.submit:focus {
    outline: none;
}

.continue-button {
    width: 8rem;
    border-radius: 4pt;
    border: 1px solid #ddd;
    color: white;
    padding: 0.6rem;
    background-color: teal;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.continue-button:disabled {
    background-color: #c2c2c2;
}

.continue-button:hover:enabled {
    background-color: rebeccapurple;
}

button:first-of-type {
    margin-right: 0.6rem;
}

.back-button {
    width: 8rem;
    border-radius: 4pt;
    border: 1px solid teal;
    color: teal;
    padding: 0.6rem;
    background-color: white;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.back-button:disabled {
    background-color: #c1c1c1;
    color: white;
    border: none;
}

.back-button:hover:enabled {
    color: red;
    border: 1px solid red;
}

.step-number {
    padding: 0.2rem;
    width: 1.2rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: teal;
    margin: 0 0.5rem;
}

.error-message {
    margin: 0 0 0.5rem 0;
    color: red;
    font-style: italic;
}

#submitted-success {
    margin-top: 2rem;
    font-style: italic;
    font-size: 16pt;
}